# ┌────────────────────────────────────────────────────────────────────┐
# │                          Global / OS / Logs                        │
# └────────────────────────────────────────────────────────────────────┘
.DS_Store
Thumbs.db
*.log

# ┌────────────────────────────────────────────────────────────────────┐
# │                          Editor / IDE                              │
# └────────────────────────────────────────────────────────────────────┘
.cspell/
.vscode/

# ┌────────────────────────────────────────────────────────────────────┐
# │                           Python / Poetry                          │
# └────────────────────────────────────────────────────────────────────┘
# database
:memory

# ┌────────────────────────────────────────────────────────────────────┐
# │                           Python / Poetry                          │
# └────────────────────────────────────────────────────────────────────┘
# Byte-compiled / optimized / DLL files
__init__.py
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# ENV files
.env
.env.*

# ┌────────────────────────────────────────────────────────────────────┐
# │                          Docker / Compose                          │
# └────────────────────────────────────────────────────────────────────┘
# Docker artifacts
docker-compose.override.yml
**/Dockerfile*

# ┌────────────────────────────────────────────────────────────────────┐
# │                         Next.js / Node                             │
# └────────────────────────────────────────────────────────────────────┘
# Dependencies
node_modules/

# Next.js build & cache
.next/
out/

# Production build
build/

# dotenv environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js telemetry
.next-turbo/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp.*
.pnpm-debug.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# db files
*.db

# Other
public/file.svg      # if generated
public/*.svg        # adjust if you have other generated assets
${sobres}/
${workspaceFoder}/
py_backend/project_tree.txt